body{
  font-family: Poppins, Microsoft JhengHei, Arial, sans-serif;
  height: 100px;
}
.background-blue {
  background-color: #4575AB;
}  

  nav.navbar .navbar-nav .nav-item .nav-link, .navbar-brand {
    color: #F8E3CB;
    font-family: Microsoft JhengHei, Arial, sans-serif;
    font-size: 128%;
    margin-left: 60px;
  }

  .navbar-brand{
    margin-left: 0px;
  }

  .navbar-nav{
    margin-right: 60px;
  }

  .nav-item{
    width: 158px;
  }

  .nav-item a:hover {
    color: white; /* 鼠标悬停时的颜色 */
    font-weight: bold;
  }  
  
  nav.navbar .navbar-brand  {
    color: #F8E3CB;
    font-weight: bold;
  }
  
  nav.navbar .logo-pic {
    width: 60px;
  }
  
  /* nav.navbar {
    height: 80px;
  } */

  /* @media (max-width: 767px) {
    .navbar-expand-md .navbar-collapse {
      display: none;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: block;
    } */
  /* } */
  @media (max-width: 1190px) {
    .navbar-expand-md .navbar-collapse {
      display: none;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: block;
    }
  }

  .index.row{
    max-width: 1000vh;
    max-height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .side.row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }

  .side.col-lg-12{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .spacer {
    height: 30px; /* 調整你希望的間距高度 */
  }

  .yellow{
    color: #F8E3CB;
  }

  .col-md-6{
    padding: 0px;
  }
  .col-md-5{
    padding: 0px;
  }
.team-img-block{
  padding-right: 30px;
}
.team-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

  @media (max-width: 991px) {
    .col-md-6{
      padding-left: 30px;
    }
    .main-card-block{
      margin-bottom: 30px;
    }
    .col-md-5{
      padding-left: 30px;
    }
    .team-img-block{
      padding-right: 0px;
      margin-bottom: 30px;
    }
  }

  .image-container{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .card-img {
    width: 100%;
    height: 200px; /* 調整圖片的高度 */
    object-fit: none; /* 不要填滿父元素 */
    object-position: center top; /* 將圖片置中，頂部對齊 */
  }

  .card-img-top{
    max-width: 100%;
    max-height: 100%;
  }

  .card {
    position: relative;
  }
  
  .image-container {
    max-width: 100%; /* 圖片的最大寬度設定為父元素的100% */
    max-height: 100%; /* 圖片的最大高度設定為父元素的100% */
    object-fit: cover;
    width: 100%;
    height: 550px;
  }
  
  .main-card-body {
    width: 100%;
    height: 150px;
    background-color: #F8E3CB;
  }

  .main-card{
    width: 100%;
    height: 700px;
  }
  @media (max-width: 991px) {
    .index.row{
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .card.main-card{
      height: 450px;
    }
    .image-container{
      height: 300px;
    }
    .main-card-body{
      max-height: 150px;
    }
    .index.col-lg-6{
      max-width: 1000vh;
      height: 480px;
      padding-top: 0px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
    }
  }

  .card-title .btn-group{
    line-height: 10px;
    align-items: center;
  }
  
  .btn {
    margin-right: 10px; /* 設置右邊間距 */
  }

  .btn-primary{
    width: 36px;
    height: 36px;
    background-color: #4575AB;
  }

  .btn-outline-success{
    color: #F8E3CB;
    border-color: #F8E3CB;
  }
  .btn-outline-success:hover{
    color: black;
    border-color: #FFF;
    background-color: #FFF;
  }

  .card-title{
    color: #4575AB;
    font-family: Microsoft JhengHei, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  @media (max-width: 991px) {
    .card-title{
      font-size: 28px;
    }
  }

  .bigcard-item{
    width: 500px;
  }
  
  .play-button {
    /* 設定按鈕的外觀 */
    display: inline-block;
    padding: 10px;
    background-color: #4575AB;
    color: #F8E3CB;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
  }
  
  .play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 14px; /* 調整邊框寬度 */
    border-color: transparent transparent transparent #F8E3CB;
  }  
  
  .play-button:hover:before {
    border-color: transparent transparent transparent #fff;
  }
  
  .flashcard{
    height: 335px;
    margin-bottom: 30px;
  }

  @media (max-width: 991px) {
    .flashcard{
      height: 335px;
      margin-bottom: 15px;
    }
  }

  .flashcard-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .flashcard-background {
    background-color: #4575AB;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 20px;
  }
  
  .flashcard-content {
    text-align: center;
    color: #F8E3CB;
  }

  .shift{
    margin-left: 60px;
  }
  
  .bottom{
    margin-bottom: 30px;
  }

  .main-text{
    font-size: 32px;
  }
  @media (max-width: 991px) {
    .main-text{
      font-size: 28px;
    }
  }
  .side-text{
    font-size: 24px;
  }

  @media (max-width: 991px) {
    .side-text{
      font-size: 18px;
    }
  }

  .flashcard-content{
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .text-center{
    text-align: center!important;
  }
  .card-img-top{
    object-fit: cover;
  }

  .footer-text{
    font-size: x-small;
  }

  .alert{
    padding: 5px;
  }

  .alert-dismissible .close {
    padding: 10px;
  }

  .about-img{
    object-fit: cover;
    height: 335px;
  }
  .about-block{
    height: 335px;
  }

/* unit1 */

.lesson-img{
  object-fit: cover;
  height: 350px;
}
.bd-lesson{
  padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
}
.carousel {
  position: relative;
}

.bd-lesson{
  padding: 0px;
}

  /* unit2 */

  
  .lesson-card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 227, 203, 0.8);
    box-sizing: border-box;
  }

  .lesson-title{
    padding-top: 30px;
    color: #4575AB;
    font-size: xx-large;
    font-weight: bold;
  }

  .botton-buttom{
    margin-bottom: 5px;
  }

  .margin-auto{
    margin: auto;
  }

  .margin-top{
    margin-top: 30px;
  }

  .margin-left{
    margin-left: 30px;
  }

  .alert{
    margin-bottom: 0px;
  }

  @media (max-width: 1190px) {
    .lesson-button .btn-group {
      display: none;
    }
  }
  
  .button-buttom{
    width: 200px;
    margin-left: 5px;
  }

  .lesson-card-text .play-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 5px;
  }

  .unit-img {
    object-fit: cover;
    object-position: bottom;
    padding-left: 20px;
    padding-right: 20px;
    height: 360px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .unit-title{
    width: 760px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4575AB;
    font-weight: bold;
    background-color: #F8E3CB;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 10px;
  }
  .list-title{
    width: 760px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4575AB;
    font-weight: bold;
    background-color: #F8E3CB;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 10px;
  }
  @media (max-width: 767px) {
    .list-title {
      font-size: 30px;
    }
    .lesson-title{
      font-size: 24px;
    }
  }

  .unit-big-title{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #4575AB;
    font-weight: bolder;
    font-size: 48px;
  }

  .unit-introduce{
    margin-left: 60px;
    margin-right: 40px;
    color: #4575AB;
    font-size: 22px;
    font-weight: light;
    line-height: 32px;
  }
  @media (max-width: 767px) {
    .unit-introduce {
      font-size: 18px;
    }
  }

  .list-introduce{
    color: #4575AB;
    font-size: 22px;
    font-weight: light;
    line-height: 32px;
  }
  @media (max-width: 767px) {
    .list-introduce {
      font-size: 18px;
    }
  }
  .row{
    width: 100%;
  }
  .lesson-main-button {
    margin-left: 10px;
    padding-top: 5px;
  }
  .lesson-button {
    vertical-align: middle;
  }
  @media (max-width: 1380px) {
    .lesson-main-button {
      margin-left: 60px;
    }
  }

  .about-title {
    padding-top: 15px;
    color: #4575AB;
    font-size: xx-large;
    font-weight: bold;
}
@media (max-width: 991px) {
  .about-title {
    font-size: 28px;
  }
}
.media{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.media-body{
  margin-left: 15px;
  margin-right: 0px;
}
.list-img{
  width: 100%;
  height: 100%;
  max-height: 282px;
  object-fit: cover;
}
.list-button {
  margin-left: 10px;
  padding-top: 5px;
}
.list.btn-primary{
  width: 180px;
  height: 36px;
}

@media (max-width: 985px) {
  .list-button {
    margin-left: 60px;
  }
}
.list-title.row{
  margin-right: 0px;
}
.maincard.row{
  padding-top: 15px;
  margin-left: 0px;
}

.ceo-introduce{
  margin-left: 60px;
  margin-right: 40px;
  color: #4575AB;
  font-size: 28px;
  font-weight: light;
  line-height: 54px;
  text-align:center;
}

@media (max-width: 767px) {
  .ceo-introduce {
    font-size: 16px;
    line-height: 32px;
  }
}

.about-img {
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
  height: 360px;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5%;
}

.philosophy-title{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4575AB;
  font-weight: bold;
  background-color: #F8E3CB;
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.philosophy.row{
  display: flex;
  justify-content: center;
}

.philosophy.card{
  margin-left: 45px;
  margin-right: 30px;
  margin-bottom: 20px;
  min-width: 210px;
  height: 100%;
}

@media (max-width: 767px) {
  .about-img {
    height: 300px;
    border-radius: 10%;
  }

  .philosophy.card{
    margin-left: 45px;
    margin-right: 30px;
    max-width: 210px;
  }
  .philosophy.row{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 569px) {
  .philosophy.card{
    margin-left: 30px;
    margin-right: 10px;
    max-width: 210px;
  }
}

@media (max-width: 991px){
.philosophy.card-title {
    font-size: xx-large;
}
}
.philosophy.card-body{
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.philosophy.card-text{
  color: #4575AB;
  font-size: medium;
  margin-bottom: 0px;
  text-align: center;
}
.philosophy.card-title{
  text-align: center;
}
.members-title{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4575AB;
  font-weight: bold;
  background-color: #F8E3CB;
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 30px;
  margin-top: 30px;
}